:root {
  --accent-color: #2196f3;
  --basic-white: #fff;
  --text-black-full: #000;
  --text-black-color: #212121;
  --text-lightgray-color: #757575;
  --background-our-team: #f5f4fa;
  --social-icons-grey: #afb1b8;
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --items: 3;
  --indent: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--font-main);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-black-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.grid-set-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.grid-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--indent);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.1666666667;
  }
}

.section--nopadding {
  display: none;
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section--nopadding {
    display: block;
    padding-top: 0;
  }
}

.section--background {
  background-color: var(--background-our-team);
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 87px;
  }
}

.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.6666666667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.logo__dark {
  color: var(--text-black-full);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-lightgray-color);
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  Line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
  }
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-color);
}

.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 96px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-right: auto;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 51px;
  }
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  -webkit-transition: opacity var(--timing-function);
  transition: opacity var(--timing-function);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img_sm-@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_sm-@1x.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img_sm-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_sm-@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img_md-@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_md-@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img_md-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_md-@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img_lg-@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_lg-@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-img_lg-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img_lg-@2x.jpg);
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--basic-white);
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__btn {
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  color: var(--basic-white);
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}
.hero__btn:hover {
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.features__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--background-our-team);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--text-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  color: var(--text-lightgray-color);
  line-height: 1.7142857143;
}

.our-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.our-business__item {
  position: relative;
}
.our-business__item__item:not(:last-child) {
  margin-right: 30px;
}

.our-business__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team__item {
  background-color: var(--basic-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.our-team__indents {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__title {
  color: var(--text-black-color);
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team__text {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--text-lightgray-color);
}

@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--social-icons-grey);
  border-radius: 50%;
  -webkit-transition: background-color var(--timing-function), color var(--timing-function);
  transition: background-color var(--timing-function), color var(--timing-function);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-color);
  color: var(--basic-white);
}

.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.our-team {
  display: block;
}
@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    --items: 4;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  height: 92px;
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% - 542px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: var(--social-icons-grey);
  border: 1px solid var(--social-icons-grey);
  border-radius: 4px;
  -webkit-transition: color var(--timing-function), border-color var(--timing-function);
  transition: color var(--timing-function), border-color var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
.footer__logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
    padding-right: 0;
    padding-left: 0;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__contacts {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.logo__light {
  color: var(--basic-white);
}

.footer-address {
  font-style: normal;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  line-height: 1.7142857143;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--basic-white);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

.footer-indent {
  margin-right: 70px;
}

.address-list__link {
  line-height: 1.7142857143;
  font-style: normal;
  letter-spacing: 0.03em;
  color: #acacb0;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.btn__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}
.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
}
@media screen and (min-width: 1200px) {
  .join {
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.subscribe-form__field {
  display: block;
  margin-bottom: 20px;
}
.subscribe-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-white);
}
.subscribe-form__input {
  width: 100%;
  height: 50px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--basic-white);
  background-color: #2f303a;
}
.subscribe-form__input:hover, .subscribe-form__input:focus {
  border: 1px solid var(--accent-color);
}
.subscribe-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .subscribe-form__field {
    margin-right: 12px;
    margin-bottom: 0;
  }
  .subscribe-form__input {
    width: 358px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .socials__item {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.socials__item--gap:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  color: var(--basic-white);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--basic-white);
}

.socials__icon {
  display: block;
  fill: currentColor;
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .menu-list {
    width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .menu-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-list__buttons {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--font-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  background-color: var(--background-our-team);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-black-color);
  height: 38px;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color var(--timing-function), color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: background-color var(--timing-function), color var(--timing-function), -webkit-box-shadow var(--timing-function);
  transition: background-color var(--timing-function), color var(--timing-function), box-shadow var(--timing-function);
  transition: background-color var(--timing-function), color var(--timing-function), box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
}
.menu-list__buttons:hover, .menu-list__buttons:focus {
  background-color: var(--accent-color);
  color: var(--basic-white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--timing-function);
  transition: -webkit-box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function);
  transition: box-shadow var(--timing-function), -webkit-box-shadow var(--timing-function);
  height: 100%;
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
}

.overlay__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--basic-white);
}

.portfolio__signatures {
  padding: 20px 24px;
  background-color: var(--basic-white);
  color: var(--text-black-color);
  border: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-black-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-lightgray-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  background-color: var(--basic-white);
  z-index: 1000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container__nav {
  margin-bottom: auto;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-black-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
.mobile-nav__link--current {
  color: var(--accent-color);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}
@media screen and (max-width: 479px) {
  .mobile-contact__link--tel {
    font-size: 24px;
    line-height: 1.17;
  }
}

.mobile-contact__link--mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-lightgray-color);
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

.mobile-contact__link:hover,
.mobile-contact__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-nav__item:not(:last-child),
.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.social-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.social-line__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.social-line__item:not(:first-child) {
  padding-left: 10px;
}
.social-line__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* Modal window */
.backdrop.is-hidden .modal {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: var(--basic-white);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal-form {
  padding: 40px;
  width: 100%;
  height: 100%;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-black-color);
}

.modal-form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-lightgray-color);
}

.modal-form__input {
  margin: 0;
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.modal-input__icon:hover, .modal-input__icon:focus {
  fill: var(--accent-color);
}

.modal__gap {
  margin-bottom: 20px;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition: border var(--timing-function);
  transition: border var(--timing-function);
}
.modal-form__textarea:hover, .modal-form__textarea:focus {
  border: 1px solid var(--accent-color);
}
.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox__agreement {
  margin-left: 9px;
  line-height: 1.7142857143;
  color: var(--text-lightgray-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-form__policity {
  padding-left: 5px;
  color: var(--accent-color);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal-form__btn {
  display: block;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--basic-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}
.close-btn:hover, .close-btn:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);
  -webkit-transition: opacity var(--timing-function), visibility var(--timing-function);
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal-form-checkbox__input:checked + .modal-form-checkbox__custom {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal-form-checkbox__custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 2px solid var(--text-black-color);
  outline-offset: -2px;
  border-radius: 2px;
  -webkit-transition: outline-color var(--timing-function), background-color var(--timing-function);
  transition: outline-color var(--timing-function), background-color var(--timing-function);
}

.modal-form-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: var(--basic-white);
  -webkit-transition: fill var(--timing-function);
  transition: fill var(--timing-function);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  margin: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  z-index: 370;
}
.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button:focus, .menu-button:hover {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu {
  -webkit-transition: 250ms;
  transition: 250ms;
}
.menu-button.is-open .icon-menu {
  opacity: 0;
}

.icon-cross {
  opacity: 0;
  -webkit-transition: 350ms;
  transition: 350ms;
}
.menu-button.is-open .icon-cross {
  opacity: 1;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--basic-white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color var(--timing-function);
  transition: background-color var(--timing-function);
}
.btn:hover, .btn:focus {
  background: #188CE8;
}

.btn__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px 28px;
}/*# sourceMappingURL=main.css.map */