/* Modal window */
.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: var(--basic-white);
  transition: transform var(--timing-function);
  transform: scale(1);
}

.modal-form {
  padding: 40px;
  width: 100%;
  height: 100%;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  color: var(--text-black-color);
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--text-lightgray-color);
}

.modal-form__input {
  margin: 0;
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  transform: translateY(0%);
  transition: fill var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color)
  }
}

.modal__gap {
  margin-bottom: 20px;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid $form-textarea-color;
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    line-height: calc(16/14);
    letter-spacing: 0.01em;
    color: $textarea-placeholder-color;
  }
}

.modal-form-checkbox__agreement {
  margin-left: 9px;
  line-height: calc(24/14);
  color: var(--text-lightgray-color);
  user-select: none;
}

.modal-form__policity {
  padding-left: 5px;
  color: var(--accent-color);
  text-decoration-line: underline;
}

.modal-form__btn {
  display: block;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: calc(30/16);
  letter-spacing: 0.06em;
  color: var(--basic-white);
  border: none;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 /15%);
  border-radius: 4px;
  text-decoration: none;
}

.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--basic-white);
  border: 1px solid $background-btn-close;
  border-radius: 50%;
  transition: fill var(--timing-function);

  &:hover,
  &:focus {
    cursor: pointer;
    fill: var(--accent-color);
  }
}