body {
  font-family: var(--font-main);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-black-color);
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}