:root {
  --accent-color: #2196f3;
  --basic-white: #fff;
  --text-black-full: #000;
  --text-black-color: #212121;
  --text-lightgray-color: #757575;
  --background-our-team: #f5f4fa;
  --social-icons-grey: #AFB1B8;
  --font-logo: "Raleway", sans-serif;
  --font-main: "Roboto", sans-serif;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-backdrop: rgba(0, 0, 0, 0.2);
}

$secondary-btn-color: #188CE8;
$join-link-background: rgba(255, 255, 255, 0.1);
$text-grey-footer: #acacb0;
$textarea-placeholder-color: rgba(117, 117, 117, 0.5);
$portfolio-indents: #eeeeee;
$form-textarea-color: rgba(33, 33, 33, 0.2);
$hero-bg-color: #c4c4c4;
$background-btn-close: rgba(0, 0, 0, 0.1);
$our-business-text: rgba(47, 48, 58, 0.8);
$portfolio-overlay: rgba(33, 150, 243, 0.9);
$header-border-color: #ececec;
$footer-form-gray: rgba(255, 255, 255, 0.6);
$basic-dark: #2f303a;