.section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(47/28);
  letter-spacing: 0.03em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42/36);
    // margin-bottom: 50px;
  }
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    width: calc(100% / 2);

    @media screen and (min-width: 768px) {
      width: calc(100% / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc(100% / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    margin: 15px;
    color: var(--social-icons-grey);
    border: 1px solid var(--social-icons-grey);
    border-radius: 4px;
    transition:
      color var(--timing-function),
      border-color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  &__logo {
    fill: currentColor;
  }
}