.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  &__item {
    height: 92px;
    width: calc((100% - 60px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) {
      width: calc(100% - 1626px / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 180px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    // margin: 15px;
    color: var(--social-icons-grey);
    border: 1px solid var(--social-icons-grey);
    border-radius: 4px;
    transition:
      color var(--timing-function),
      border-color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  &__logo {
    fill: currentColor;
  }
}