.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  background-color: var(--basic-white);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container__nav {
  margin-bottom: auto;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-black-color);
  transition: color var(--timing-function);

  &--current {
    color: var(--accent-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color var(--timing-function);

  @media screen and (max-width: 479px) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.mobile-contact__link--mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-lightgray-color);
  transition: color var(--timing-function);
}

.mobile-contact__link:hover,
.mobile-contact__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-nav__item:not(:last-child),
.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.social-line {
  display: flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      border-right: 1px solid $form-textarea-color;
      padding-right: 10px;
    }

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18);
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}