.section--nopadding {
  display: none;
  padding-top: 0;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
}

.our-business {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-business__item {
  position: relative;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-business__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: $our-business-text;
}